@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3B4447;
    --secondary-color: #212420;
    --yellow: #ffe53b;
    --red: #ff2525;
    --white: #ffffff;
}

body {
    background-color: var(--secondary-color);
    color: var(--white);
}

h2 {
    font-size: clamp(20px, 3vw, 32px);
}

.block {
    background-color: var(--primary-color);
}

input,
select {
    color: #000000;
}

.tabs-btn {
    color: var(--white);
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tabs-btn.active {
    background: #ffffff;
    color: #000000;
}

.tabs-btn:hover {
    border-color: #ffffff; 
}