@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3B4447;
    --secondary-color: #212420;
    --pastel-green: #A3BE8C;
    --red: #ff2525;
    --white: #ffffff;
    --off-white: #ededed;
}

body {
    background-color: var(--secondary-color);
    color: var(--off-white);
    font-size: 20px;
}

h2 {
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 600;
}

h3 {
    font-size: clamp(18px, 3vw, 36px);
    font-weight: 400;
}

.block {
    background-color: var(--primary-color);
}

input,
select {
    color: #000000;
}

.tabs-btn {
    color: var(--white);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tabs-btn.active {
    background: #ffffff;
    color: #000000;
}

.tabs-btn:hover {
    border-color: #ffffff; 
}

[data-testid="dark-theme-toggle"] {
    background-color: #f0f0f0;
    color: var(--primary-color);
}

.border-custom {
    border: 5px solid rgba(255, 255, 255, 0.5);
}
